---
import config from '../../config/app.ts';

export interface Props {
  title: string;
  description?: string;
}

const {
  title,
  description = config.description
} = Astro.props;
---

<!doctype html>
<html lang="en" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="min-h-screen">
    <slot />
    <style>
      html {
        font-family: 'Inter', system-ui, sans-serif;
      }
    </style>
  </body>
</html>